<footer class="mt-5 pb-5">
    <div class="container">
      <div class="row">
        <blockquote class="blockquote mx-auto my-5 text-right">
          <p class="mb-0">Think before you speak. Read before you think</p>
          <footer class="blockquote-footer">
            <cite title="Source Title">Fran Lebowitz</cite>
          </footer>
        </blockquote>
      </div>
      <div class="row mt-2">
        <div class="col-md-4 text-center">
          <h5>Address</h5>
          <div class="container-fluid">
            <p class="m-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Deserunt maiores id impedit necessitatibus ullam nesciunt. Minus
              aliquid illum, aut fugit ex eum magni officia corrupti facere
              tempore optio at consequatur!
            </p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <h5>Contact</h5>
          <div class="container-fluid">
            <p class="m-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Deserunt maiores id impedit necessitatibus ullam nesciunt. Minus
              aliquid illum, aut fugit ex eum magni officia corrupti facere
              tempore optio at consequatur!
            </p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <h5>Social Links</h5>
          <div class="container-fluid">
            <p class="m-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Deserunt maiores id impedit necessitatibus ullam nesciunt. Minus
              aliquid illum, aut fugit ex eum magni officia corrupti facere
              tempore optio at consequatur!
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>