{% extends "base.html" %}
{% block title %}Books | {% endblock title %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb my-0">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Books</li>
  </ol>
</nav>
<div class="container mt-5">
    <div class="row my-5" style="font-family:Arial, Helvetica, sans-serif; height: 50vh;">
        <h1 class="display-5 mx-auto" style="margin-top:100px;"><i class="fas fa-tools"></i> Page Under Construction</h1>
    </div>
</div>

{% endblock content %}