{% extends "base.html" %}
{% load humanize %}
{% block title %}
User Dashboard |
{% endblock title %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb my-0">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{user.first_name}}</li>
    </ol>
</nav>
{% include "partials/_alerts.html" %}
<div class="container profile_container">
    <h1 class="display-4 my-5">CUSTOMER DASHBOARD</h1>
    <div class="row">
        <div class="col-md-4 text-center">
            {% if profile.profile_img %}
            <img class="w-100" src="{{ profile.profile_img.url }}" alt="">
            {% else %}
            <img class="w-100" src="https://via.placeholder.com/120x160" alt="">
            {% endif %}
        </div>
        <div class="col-md-8">
            <span class="d-none d-md-block"></span>
            <div class="container-fluid text-left pl-5">
                <p>Name: <b>{{user.first_name}} {{ user.last_name }} </b></p>
                <p>Username: <b>{{user.username }} </b></p>
                <p>Customer ID: <b>{{user.id}} </b></p>
                <p>Phone No.: <b>{{profile.phone}}</b></p>
                <p>Email: <b>{{user.email}}</b></p>
                <p>Address: <b>{{profile.address}}</b></p>
            </div>
        </div>
    </div>
    <hr class="my-5">
    {% if ordered_books %}
    <div class="row">
        <h5 class="mx-auto"><u>Ordered Books</u></h5>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#product</th>
                <th scope="col">Author</th>
                <th scope="col">Owner</th>
                <th scope="col">Ordered on</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for book in ordered_books %}
            <tr>
                <th scope="row">{{book.product}}</th>
                <th>{{book.product.author}}</th>
                <td>{{book.owned_by}}</td>
                <td>{{book.time | timesince}} ago</td>
                <td>{{book.price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if owned_books %}
    <div class="row">
        <h5 class="mx-auto"><u>My Books</u></h5>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#product</th>
                <th scope="col">Author</th>
                <th scope="col">Brought on</th>
                <th scope="col">Price</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for book in owned_books %}
            <tr>
                <th scope="row">{{book.title}}</th>
                <th>{{book.author}}</th>
                <td>{{book.updated_at | timesince}} ago</td>
                <td>{{book.buying_price}}</td>
                <td>{{book.current_price}}</td>
                <td>
                    {% if book.status == 'OD'  %}
                    <a href="{% url 'user_profile' book.ordered_by.id %}" class="btn btn-sm btn-success">ordered by</a>
                    <a href="{% url 'confirm' book.id %}" class="btn btn-sm btn-danger">confirm delivery</a>
                    {% elif book.status == 'OS'  %}
                    <button class="btn btn-primary btn-sm">On Sale</button>
                    {% else %}
                    <a href="{% url 'sell' book.id %}" class="btn btn-sm btn-info">Sell</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if not owned_books and not ordered_books %}
    <div class="row">
        <h5 class="mx-auto"><u>No books available</u></h5>
    </div>
    {% endif %}
</div>
{% endblock content %}