{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Register |
{% endblock title %}
{% block content %}
{% include "partials/_alerts.html" %}
<div class="container mt-4" style="font-family:Arial, Helvetica, sans-serif">
    <div class="row">
        <h1 class="mx-auto">Create Account</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <form name="registerForm" onsubmit="return validateRegisterForm(event)" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="row">
                    <p class="my-3 text-danger" id="errorMsg"></p>
                </div>
                <input type="submit" class="btn btn-info" value="Sign Up">
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <a href="{% url 'login' %}" class="float-left mt-1">already have an account?</a>
        </div>
    </div>
    <div class="row">
    </div>
</div>
{% endblock content %}