{% extends "base.html" %}
{% block title %}
{{ name }} |
{% endblock title %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb my-0">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'profile' %}">profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
    </ol>
</nav>
<div class="container profile_container">
    <h1 class="display-4 my-5">USER DETAILS</h1>
    <div class="row">
        <div class="col-md-4 text-center">
            {% if photo.url %}
            <img class="w-100" src="{{ photo.url }}" alt="">
            {% else %}
            <img class="w-100" src="https://via.placeholder.com/120x160" alt="">
            {% endif %}
        </div>
        <div class="col-md-8">
            <span class="d-none d-md-block"></span>
            <div class="container-fluid text-left pl-5">
                <p>Name: <b>{{ name }} </b></p>
                <p>Phone No.: <b>{{phone}}</b></p>
                <p>Address: <b>{{address}}</b></p>
            </div>
        </div>
    </div>
    {% endblock content %}